<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Sous-administrateur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Ajouter un sous-administrateur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><small>Ajouter un sous-administrateur</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                	<input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                  <div class="row">
                    <div class="col-md-4">
                    	<div class="form-group">
    	                    <label for="exampleInputEmail1">Prénom</label>
    	                    <input type="text" formControlName="firstName"
    	                      id="firstName"  
    	                      class="form-control"
    	                      placeholder="Prénom"
                            [(ngModel)]="old_firstName"
                            readonly 
    	                      >
    	                </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Nom de famille</label>
                          <input type="text" formControlName="lastName"
                            id="lastName"  
                            class="form-control"
                            placeholder="Nom de famille"
                            [(ngModel)]="old_lastName"
                            readonly 
                            >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Courriel</label>
                          <input type="text" formControlName="email"
                            id="email"  
                            class="form-control"
                            placeholder="Nom de famille"
                            [(ngModel)]="old_email"
                            readonly 
                            >
                      </div>
                    </div>
                  </div>
	                <table class="table table-borderless">
                    <thead>
	                    <tr>
                        <th></th>
                        <th>Ajouter</th>
                        <th>Afficher</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                        <th>Statut</th>
	                    </tr>
                      <tr>
                        <td>Utilisateur</td>
                         	<input type="hidden" name="user_module" formControlName="user_module"  [(ngModel)]="user_module">
                        <td>
                          <input type="checkbox" formControlName="user_add" name="user_add" [(ngModel)]="user_module_module_add">
                        </td>
                        
                        <td>
                          <input type="checkbox" formControlName="user_view" name="user_view"  [(ngModel)]="user_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox"formControlName="user_edit" name="user_edit"   [(ngModel)]="user_module_module_edit">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="user_delete" name="user_delete"   [(ngModel)]="user_module_module_delete">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="user_status" name="user_status"   [(ngModel)]="user_module_module_status">
                        </td>
                      </tr>

                      <tr>
                        <td>Bannière</td>
                         	<input type="hidden" name="banner_module" formControlName="banner_module"  [(ngModel)]="banner_module">
                        <td>
                          <input type="checkbox" formControlName="banner_add" name="banner_add" [(ngModel)]="banner_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="banner_view" name="banner_view" [(ngModel)]="banner_module_module_view">
                        </td>
                        <td>
                          
                        </td>
                        <td>
                          <input type="checkbox" formControlName="banner_delete" name="banner_delete" [(ngModel)]="banner_module_module_status">
                        </td>
                        <td>
                         	
                        </td>
                      </tr>

                      <tr>
                        <td>Catégorie</td>
                          <input type="hidden" name="category_module" formControlName="category_module"  [(ngModel)]="category_module">
                        <td>
                          
                        </td>
                        <td>
                          <input type="checkbox" formControlName="category_view" name="category_view" [(ngModel)]="category_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="category_edit" name="category_edit" [(ngModel)]="category_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="category_status" name="category_status" [(ngModel)]="category_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Modèle</td>
                          <input type="hidden" name="model_module" formControlName="model_module"  [(ngModel)]="model_module">
                        <td>
                          
                          <input type="checkbox" formControlName="model_add" name="model_add" [(ngModel)]="model_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="model_view" name="model_view" [(ngModel)]="model_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="model_edit" name="model_edit" [(ngModel)]="model_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="model_status" name="model_status" [(ngModel)]="model_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Sous modèle</td>
                          <input type="hidden" name="sub_model_module" formControlName="sub_model_module"  [(ngModel)]="sub_model_module">
                        <td>
                          
                          <input type="checkbox" formControlName="sub_model_add" name="sub_model_add" [(ngModel)]="sub_model_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="sub_model_view" name="sub_model_view" [(ngModel)]="sub_model_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="sub_model_edit" name="sub_model_edit" [(ngModel)]="sub_model_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="sub_model_status" name="sub_model_status" [(ngModel)]="sub_model_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Attribut</td>
                          <input type="hidden" name="attribute_module" formControlName="attribute_module"  [(ngModel)]="attribute_module">
                        <td>
                          
                          <input type="checkbox" formControlName="attribute_add" name="attribute_add" [(ngModel)]="attribute_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="attribute_view" name="attribute_view" [(ngModel)]="attribute_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="attribute_edit" name="attribute_edit"  [(ngModel)]="attribute_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="attribute_status" name="attribute_status"  [(ngModel)]="attribute_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Couleur</td>
                          <input type="hidden" name="color_module" formControlName="color_module"  [(ngModel)]="color_module">
                        <td>
                          
                          <input type="checkbox" formControlName="color_add" name="color_add" [(ngModel)]="color_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="color_view" name="color_view" [(ngModel)]="color_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="color_edit" name="color_edit" [(ngModel)]="color_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="color_status" name="color_status" [(ngModel)]="color_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Voiture de l'utilisateur normal Plan de publicité</td>
                          <input type="hidden" name="usercaradplan_module" formControlName="usercaradplan_module"  [(ngModel)]="usercaradplan_module">
                        <td>
                          
                          <input type="checkbox" formControlName="usercaradplan_add" name="usercaradplan_add" [(ngModel)]="usercaradplan_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="usercaradplan_view" name="usercaradplan_view" [(ngModel)]="usercaradplan_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="usercaradplan_edit" name="usercaradplan_edit" [(ngModel)]="usercaradplan_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="usercaradplan_status" name="usercaradplan_status" [(ngModel)]="usercaradplan_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Publicité pour une voiture d'utilisateur professionnel</td>
                          <input type="hidden" name="prousercaradplan_module" formControlName="prousercaradplan_module"  [(ngModel)]="prousercaradplan_module">
                        <td>
                          
                          <input type="checkbox" formControlName="prousercaradplan_add" name="prousercaradplan_add" [(ngModel)]="prousercaradplan_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="prousercaradplan_view" name="prousercaradplan_view" [(ngModel)]="prousercaradplan_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="prousercaradplan_edit" name="prousercaradplan_edit" [(ngModel)]="prousercaradplan_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="prousercaradplan_status" name="prousercaradplan_status" [(ngModel)]="prousercaradplan_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Toit de voiture urgent</td>
                          <input type="hidden" name="cartopurgent_module" formControlName="cartopurgent_module"  [(ngModel)]="cartopurgent_module">
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="cartopurgent_view" name="cartopurgent_view" [(ngModel)]="cartopurgent_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="cartopurgent_edit" name="cartopurgent_edit" [(ngModel)]="cartopurgent_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td> 
                        </td>
                      </tr>

                      <tr>
                        <td>Publicité pour les accessoires</td>
                          <input type="hidden" name="accessoriesUserAd_module" formControlName="accessoriesUserAd_module"  [(ngModel)]="accessoriesUserAd_module">
                        <td>
                          
                          <input type="checkbox" formControlName="accessoriesUserAd_add" name="accessoriesUserAd_add" [(ngModel)]="accessoriesUserAd_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="accessoriesUserAd_view" name="accessoriesUserAd_view" [(ngModel)]="accessoriesUserAd_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="accessoriesUserAd_edit" name="accessoriesUserAd_edit" [(ngModel)]="accessoriesUserAd_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="accessoriesUserAd_status" name="accessoriesUserAd_status" [(ngModel)]="accessoriesUserAd_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Publicité pour les voitures</td>
                          <input type="hidden" name="carUserAd_module" formControlName="carUserAd_module"  [(ngModel)]="carUserAd_module">
                        <td>
                          
                          <input type="checkbox" formControlName="carUserAd_add" name="carUserAd_add" [(ngModel)]="carUserAd_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="carUserAd_view" name="carUserAd_view" [(ngModel)]="carUserAd_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="carUserAd_edit" name="carUserAd_edit" [(ngModel)]="carUserAd_module_module_edit">
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          <input type="checkbox" formControlName="carUserAd_status" name="carUserAd_status" [(ngModel)]="carUserAd_module_module_status">  
                        </td>
                      </tr>

                      <tr>
                        <td>Commande d'accessoires</td>
                          <input type="hidden" name="accessoriesOrders_module" formControlName="accessoriesOrders_module"  [(ngModel)]="accessoriesOrders_module">
                        <td>
                          
                          
                        </td>
                        <td>
                          <input type="checkbox" formControlName="accessoriesOrders_view" name="accessoriesOrders_view" [(ngModel)]="accessoriesOrders_module_module_view">
                        </td>
                        <td>
                        </td>
                        <td>
                           
                        </td>
                        <td>
                          
                        </td>
                      </tr>


                      <tr>
                        <td>Poussée de notification</td>
                          <input type="hidden" name="pushNotification_module" formControlName="pushNotification_module"  [(ngModel)]="pushNotification_module">
                        <td>
                          
                          <input type="checkbox" formControlName="pushNotification_add" name="pushNotification_add" [(ngModel)]="pushNotification_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="pushNotification_view" name="pushNotification_view" [(ngModel)]="pushNotification_module_module_view">
                        </td>
                        <td>
                          
                        </td>
                        <td>
                           <input type="checkbox" formControlName="pushNotification_delete" name="pushNotification_delete" [(ngModel)]="pushNotification_module_module_delete">
                        </td>
                        <td>
                            
                        </td>
                      </tr>


                      <tr>
                        <td>Courriel de notification</td>
                          <input type="hidden" name="emailNotification_module" formControlName="emailNotification_module"  [(ngModel)]="emailNotification_module">
                        <td>
                          
                          <input type="checkbox" formControlName="emailNotification_add" name="emailNotification_add" [(ngModel)]="emailNotification_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="emailNotification_view" name="emailNotification_view" [(ngModel)]="emailNotification_module_module_view">
                        </td>
                        <td>
                          
                        </td>
                        <td>
                           <input type="checkbox" formControlName="emailNotification_delete" name="emailNotification_delete" [(ngModel)]="emailNotification_module_module_delete">
                        </td>
                        <td>
                            
                        </td>
                      </tr>

                      <tr>
                        <td>Page's</td>
                          <input type="hidden" name="page_module" formControlName="page_module"  [(ngModel)]="page_module">
                        <td>
                          
                          <input type="checkbox" formControlName="page_add" name="page_add" [(ngModel)]="page_module_module_add">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="page_view" name="page_view" [(ngModel)]="page_module_module_view">
                        </td>
                        <td>
                          <input type="checkbox" formControlName="page_edit" name="page_edit" [(ngModel)]="page_module_module_edit">
                        </td>
                        <td>
                           <input type="checkbox" formControlName="page_delete" name="page_delete" [(ngModel)]="page_module_module_delete">
                        </td>
                        <td>
                            <input type="checkbox" formControlName="page_status" name="page_status" [(ngModel)]="page_module_module_status">
                        </td>
                      </tr>


                    </thead>
                  </table>
                   


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>