<!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; Porschists <a href="#"></a></strong>
    
    <div class="float-right d-none d-sm-inline-block">
      <b> </b> 
    </div>
  </footer>