<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Publicité pour les voitures</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Publicité pour les voitures</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Toutes les annonces de voitures<small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">

                 <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titre de l'annonce</label>
                            <input type="text" formControlName="title"
                              id="title"  
                              class="form-control"
                              placeholder="Titre de l'annonce"
                              >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Modèle</label>
                            
                            <select name="modelId" formControlName="modelId"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option *ngFor="let player of allModelList" [value]="player._id">
                                  {{player.model_name}}
                              </option>
                            </select>

                        </div>
                      </div>
                    <div class="col-md-4">  
                      <div class="form-group">
                        <label for="exampleInputEmail1">Type de châssis</label>
                        <select name="attribute_type" formControlName="attribute_type"  
                          class="form-control"
                          >
                            <option value="">Veuillez sélectionner</option>
                            <option *ngFor="let val of allAttrTypeDePiece" [value]="val._id">{{ val.attribute_name }}</option>
                        </select>
                      </div>
                    </div>

                    
                    <div class="col-md-4">  
                      <div class="form-group">
                        <label for="exampleInputEmail1">Année d'enregistrement</label>
                        <select name="registration_year" formControlName="registration_year"  
                          class="form-control"
                          >
                            <option value="">Veuillez sélectionner</option>
                            <option *ngFor="let item of allRegYear | keyvalue" value="{{item.value}}">{{item.value}}</option>
                        </select>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Prix minimum</label>
                          <input type="number" formControlName="minPrice"
                            id="minPrice"  
                            class="form-control"
                            placeholder="Prix minimum"
                            >
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Prix maximum</label>
                          <input type="number" formControlName="maxPrice"
                            id="maxPrice"  
                            class="form-control"
                            placeholder="Prix maximum"
                            >
                      </div>
                    </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}carInActiveProUserAd" class="btn btn-warning">Réinitialisation</a>


                  </div>
                  <div class="card-footer">
                    
                  </div>
                </form>
                
                <div class="table-responsive">
                  <table id="example2" class="table table-striped">
                    <thead>
                       <tr>
                        <th style="width: 10px">#</th>
                        <th>Nom complet</th>
                        <th>Titre de l'annonce</th>
                        <th>Modèle</th>
                        <th>Variante du modèle</th>
                        <th>Type de châssis</th>
                        <th>Carburant</th>
                        <th>Année d'enregistrement</th>
                        <th>Prix</th>
                        <th>Prix Pro</th>
                        <th>Image</th>
                        <th>Statut du paiement</th>
                        <th>État de l'activation</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                          <td>{{ i+1 }}</td>
                          <td>
                            <p *ngIf="val.userId;">
                              {{ val.userId.firstName}} {{ val.userId.lastName}}
                            </p>
                          </td>
                          <td> {{ val.ad_name }}</td>
                          <td>
                            <p *ngIf="val.modelId.length;">
                              {{ val.modelId[0].model_name}}
                            </p>
                          </td>
                          <td>
                             {{ val.model_variant }}
                          </td>
                          <td> 
                            <p *ngIf="val.type_of_chassis.length > 0;">
                              {{ val.type_of_chassis[0].attribute_name}}
                            </p>
                          </td>
                          <td> 
                            <p *ngIf="val.fuel.length > 0;">
                              {{ val.fuel[0].attribute_name}}
                            </p>
                          </td>
                          <td> {{ val.registration_year }}</td>
                          <td> {{ val.price }}</td>
                          <td> {{ val.pro_price }}</td>
                          <td>
                             
                            <img *ngIf="val.exterior_image.length>0;" src="{{base_url_node_plain}}{{val.exterior_image[0].path}}" height="120" width="120"> 
                            
                          </td>
                        
                         

                      <td>
                          <div *ngIf="val.show_on_web == 1; else statusOut">
                              <span class="badge bg-success">Complété</span>
                        </div>
                        <ng-template #statusOut>
                            <span class="badge bg-danger">Incomplet</span>
                        </ng-template>
                      </td> 
                      <td>
                          <div *ngIf="val.activation_status == 1; else statusOut">
                            <span class="badge bg-success">Actif</span>
                          </div>
                          <ng-template #statusOut>
                            <span class="badge bg-danger">Inactif</span>
                          </ng-template>
                      </td> 
                        <td>
                          <!-- <a href="#">
                            <i class="fas fa-pencil-alt">Modifier</i>
                          </a>&nbsp; -->
                          <div *ngIf="val.activation_status == 1; else statusManageOut">
                              <a  (click)="updateUserStatus(val._id,0);" class="btn btn-block btn-danger">Inactif</a>
                          </div>
                          <ng-template #statusManageOut>
                              <a  (click)="updateUserStatus(val._id,1);" class="btn btn-block btn-success">Actif</a>
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div>


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>