<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Réglage</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Réglage</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Réglage<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Pourcentage d'impôt sur ( % )</label>
                      <input type="number" formControlName="tax_percent"
                        id="tax_percent"  
                        class="form-control"
                        [(ngModel)]="tax_percent_old"
                        placeholder="Pourcentage d'impôt">
                      <div *ngIf="f['tax_percent'].touched && f['tax_percent'].invalid" class="validation_error">
                        <div *ngIf="f['tax_percent'].errors && f['tax_percent'].errors['required']">Le pourcentage de la taxe est requis.</div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Accessoires achat utilisateur Taxe en pourcentage ( % )</label>
                      <input type="number" formControlName="access_pur_tax_percent"
                        id="access_pur_tax_percent"  
                        class="form-control"
                        [(ngModel)]="access_pur_tax_percent_old"
                        placeholder="Accessoires achat utilisateur Taxe en pourcentage ( % )">
                      <div *ngIf="f['access_pur_tax_percent'].touched && f['access_pur_tax_percent'].invalid" class="validation_error">
                        <div *ngIf="f['access_pur_tax_percent'].errors && f['access_pur_tax_percent'].errors['required']">Le pourcentage de la taxe est requis.</div>
                      </div>
                    </div>

                    
  
                     
                    
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>