<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mot de passe</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Changer le mot de passe</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Changer le mot de passe<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                	
                	<input type="hidden" formControlName="user_id"
	                      id="user_id"  
	                      class="form-control"
	                      [(ngModel)]="logged_in_user_id"
	                      >
	                <div class="form-group">
	                    <label for="exampleInputEmail1">Ancien mot de passe</label>
	                    <input type="password" formControlName="old_password"
	                      id="old_password"  
	                      class="form-control"
	                      placeholder="Ancien mot de passe"
	                      >
	                    <div *ngIf="f['old_password'].touched && f['old_password'].invalid" class="validation_error">
	                      <div *ngIf="f['old_password'].errors && f['old_password'].errors['required']">Ancien mot de passe est requis.</div>
	                    </div>
	                </div>

	                <div class="form-group">
	                    <label for="exampleInputEmail1">Nouveau mot de passe</label>
	                    <input type="password" formControlName="new_password"
	                      id="new_password"  
	                      class="form-control"
	                      placeholder="Nouveau mot de passe"
	                      >
	                    <div *ngIf="f['new_password'].touched && f['new_password'].invalid" class="validation_error">
	                      <div *ngIf="f['new_password'].errors && f['new_password'].errors['required']">Nouveau mot de passe est requis.</div>
	                    </div>
	                </div>
               
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>