<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attributs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Ajouter des attributs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><small> Ajouter des attributs</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="container py-5">
							  <div class="row"> 
							    <div class="col-md-12 col-md-offset-3">
							        <form [formGroup]="abc"    id="msform">
							            <!-- progressbar -->
							            <ul id="progressbar">
							                <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
							                <li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
							                <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li>
							            </ul>
							            <!-- fieldsets -->

							            <fieldset  *ngIf="step == 1" >
							                <h2 class="fs-title">Personal Details</h2>
							                <div class="form-group">
							                    <label for="exampleInputEmail1">Nom de l'attribut</label>
							                    <input type="text" formControlName="firstname"
							                      id="firstname"  
							                      class="form-control"
							                      placeholder="Nom de l'attribut">
							                    <div *ngIf="abcc['firstname'].touched && abcc['firstname'].invalid" class="validation_error">
							                      <div *ngIf="abcc['firstname'].errors && abcc['firstname'].errors['required']">Le nom est obligatoire.</div>
							                    </div>
							                  </div>
							                


							               <div class="form-group">
							                    <label for="exampleInputEmail1">Nom de l'attribut</label>
							                    <input type="text" formControlName="email"
							                      id="email"  
							                      class="form-control"
							                      placeholder="Nom de l'attribut">
							                    <div *ngIf="abcc['email'].touched && abcc['email'].invalid" class="validation_error">
							                      <div *ngIf="abcc['email'].errors && abcc['email'].errors['required']">Le email est obligatoire.</div>
							                    </div>
							                  </div>
							                

							                 
							                <div class="form-group">
							                    <label for="exampleInputEmail1">Nom de l'attribut</label>
							                    <input type="text" formControlName="phone"
							                      id="phone"  
							                      class="form-control"
							                      placeholder="Nom de l'attribut">
							                    <div *ngIf="abcc['phone'].touched && abcc['phone'].invalid" class="validation_error">
							                      <div *ngIf="abcc['phone'].errors && abcc['phone'].errors['required']">Le phone est obligatoire.</div>
							                    </div>
							                  </div>

							                <input (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
							            </fieldset>
							        </form>
							         <form [formGroup]="addressDetails" id="msform">
							            <fieldset *ngIf="step == 2" >
							                <h2 class="fs-title">Address Details</h2>
							                
							                

							                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
							                <input  (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
							            </fieldset>
							        </form>
							         <form [formGroup]="educationalDetails" id="msform">
							            <fieldset *ngIf="step == 3">
							                <h2 class="fs-title">Educational Details</h2>
							                


							                <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
							                <input (click)="submit()"type="submit" name="submit" class="submit action-button" value="Submit"/>
							            </fieldset>
							        </form>

							    </div>
								</div>
							</div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>