<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Plan de publicité</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Publicité pour une voiture d'utilisateur professionnel</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><small>Publicité pour une voiture d'utilisateur professionnel</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">
                	<input type="hidden" name="edit_id" formControlName="edit_id"  [(ngModel)]="edit_id">
                	<div class="form-group">
                    <label for="exampleInputEmail1">Nombre maximum de voitures pouvant être téléchargées</label>
                    <input type="number" formControlName="maximum_upload"
                      id="maximum_upload"  
                      class="form-control"
                      placeholder="1" [(ngModel)]="old_maximum_upload">
                    <div *ngIf="f['maximum_upload'].touched && f['maximum_upload'].invalid" class="validation_error">
                      <div *ngIf="f['maximum_upload'].errors && f['maximum_upload'].errors['required']">Le nombre maximum de voitures à télécharger est requis.</div>
                       
                    </div>
                  </div>


                	 <div class="form-group">
                    <label for="exampleInputEmail1">Nombre d'annonces par jour</label>
                    <input type="number" formControlName="day_number"
                      id="day_number"  
                      class="form-control"
                      placeholder="30" [(ngModel)]="old_day_number">
                    <div *ngIf="f['day_number'].touched && f['day_number'].invalid" class="validation_error">
                      <div *ngIf="f['day_number'].errors && f['day_number'].errors['required']">Le nombre de jours est requis.</div>
                       
                    </div>
                  </div>
                  

                  

                  <div class="form-group">
                    <label for="exampleInputEmail1">Prix</label>
                    <input type="number" formControlName="price"
                      id="price"  
                      class="form-control"
                      placeholder="35" [(ngModel)]="old_price">
                    <div *ngIf="f['price'].touched && f['price'].invalid" class="validation_error">
                      <div *ngIf="f['price'].errors && f['price'].errors['required']">Le prix est requis.</div>
                       
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Recherche Prix de la meilleure annonce</label>
                    <input type="number" formControlName="top_price"
                      id="top_price"  
                      class="form-control"
                      placeholder="20" [(ngModel)]="old_top_price">
                    <div *ngIf="f['top_price'].touched && f['top_price'].invalid" class="validation_error">
                      <div *ngIf="f['top_price'].errors && f['top_price'].errors['required']">La recherche du prix de l'annonce la plus élevée est obligatoire.</div>
                       
                    </div>
                  </div> -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->

            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>