<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modifier la couleur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Modifier la couleur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Modifier la couleur<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Nom de la couleur</label>
                    <input type="hidden" formControlName="edit_id" name="edit_id" [(ngModel)]="edit_id">
                    <input type="text" formControlName="color_name"
                      id="color_name"  
                      class="form-control"
                      placeholder="Color name" [(ngModel)]="old_color_name">
                    <div *ngIf="f['color_name'].touched && f['color_name'].invalid" class="validation_error">
                      <div *ngIf="f['color_name'].errors && f['color_name'].errors['required']">Le nom de la couleur est obligatoire.</div>
                    </div>
                  </div>

                  <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Code couleur</label>
                    <input type="color" formControlName="color_code"
                      id="color_code"  
                      class="form-control"
                      placeholder="Color code" [(ngModel)]="old_color_code">
                    <div *ngIf="f['color_code'].touched && f['color_code'].invalid" class="validation_error">
                      <div *ngIf="f['color_code'].errors && f['color_code'].errors['required']">Le code couleur est obligatoire.</div>
                    </div>
                  </div> -->


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>