<!--input dropdown-->
         input, select, textarea, .form-control
         {
         background:#fff !important;
         }
         .dropdown-toggle::after
         {
         display:none;
         }
         
         <!--for tab with radio button-->
         .tab-list {
         width: 100%;
         float: left;
         list-style: none;
         position: relative;
         font-family: Arial;
         color: #fff;
         }
         .tab-list li {
         float: left;
         }
         .tab-list li input[type="radio"] {
         display: none;
         }
         .tab-list li label {
         float: right;
         <!--background: #ccc;-->
         padding: 0px 20px;
         color: #000;
         cursor: pointer;
         padding: 0px 15px;
         }
         .tab-list li label:hover {
         background: #fff;
         }
         .tab-list li .content {
         z-index: 99999;
         display: none;
         overflow: hidden;
         width: 100%;
         padding: 10px;
         position: absolute;
         top: 28px;
         left: 0;
         background: #fff;
         color: #000;
         }
         .tab-list li [id^="tab"]:checked + label {
         <!--background: #666;-->
         }
         .tab-list li [id^="tab"]:checked ~ [id^="tab-content"] {
         display: block;
         }          
         .tab-list li input[type="radio"] {
         display: inline-block;
         }
         .show
         {
         display:inline-block;
         } 