<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Attributs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Tous les attributs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Tous les attributs<small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tous les attributs</h3>
              </div>

              <div class="clearfix"></div><br>
              <div>
                <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportallCarAttributeApi" target="_blank" download="download"  >Exporter csv</a></b>
              </div>

              <!-- /.card-header -->
              <div class="card-body p-0">

                <div class="clearfix"></div>
                <br>

                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Type d'attribut</label>
                          <select name="attribute_type" formControlName="attribute_type"  
                            class="form-control"
                            >
                              <option *ngFor="let val of allCarCategory" [value]="val.category">{{ val.category }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Nom de l'attribut</label>
                          <input type="text" formControlName="attribute_name"
                            id="attribute_name"  
                            class="form-control"
                            placeholder="Nom de l'attribut">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>&nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}allCarAttribute" class="btn btn-warning">Réinitialisation</a>
                  </div>
                </form>


                <div class="clearfix"></div>
                <br>


                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th style="width: 10px">#</th>
                        <th>Type d'attribut</th>
                        <th>Nom de l'attribut principal</th>
                        <th>Nom de l'attribut</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                       
                      <tr *ngFor="let val of record let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ val.attribute_type }}</td>
                        <td>{{ val.rootAttribute }}</td>
                        <td>{{ val.attribute_name }}</td>

                        <td>
                            <div *ngIf="val.status == 1; else statusOut">
                              <span class="badge bg-success">Actif</span>
                          </div>
                          <ng-template #statusOut>
                              <span class="badge bg-danger">Inactif</span>
                          </ng-template>
                        </td> 


                        <td>
                          <a routerLink="/editCarAttribute/{{ val._id}}" >
                            <i class="fas fa-pencil-alt">Modifier</i>
                          </a>

                          <div *ngIf="val.status == 1; else statusManageOut">
                              <a  (click)="updateAttributeStatus(val._id,2);" class="btn btn-block btn-danger btn-sm">Inactif</a>
                          </div>
                          <ng-template #statusManageOut>
                              <a  (click)="updateAttributeStatus(val._id,1);" class="btn btn-block btn-success btn-sm">Actif</a>
                          </ng-template>


                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>  
                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallSubAttribute(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>