<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Commande d'accessoires</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Commande de tous les accessoires</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Commande de tous les accessoires<small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">


                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom de l'utilisateur</label>
                            <select name="user_id" formControlName="user_id"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option *ngFor="let player of allUsersList" [value]="player._id">
                                  {{player.firstName}} {{player.lastName}}
                              </option>
                            </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom du propriétaire</label>
                            <select name="owner_id" formControlName="owner_id"  
                                class="form-control"
                                >
                              <option value="">Veuillez sélectionner</option>
                              <option *ngFor="let player of allUsersList" [value]="player._id">
                                  {{player.firstName}} {{player.lastName}}
                              </option>
                            </select>
                        </div>
                      </div>


                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}accessoriesOrdersProcess" class="btn btn-warning">Réinitialisation</a>


                  </div>
                  <div class="card-footer">
                    
                  </div>
                </form>



                <table id="example2" class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px"> Numéro d'ordre</th>
                      <th>Nom de l'utilisateur</th>
                      <th>Titre de l'annonce</th>
                      <th>Nom du propriétaire</th>
                      <th>Numéro du propriétaire</th>
                      <th>Prix</th>
                      <th>Frais d'expédition</th>
                      <th>Taxe</th>
                      <th>Prix final</th>
                      <th>Type de paiement</th>
                      <th>Statut du paiement</th>
                      <th>Statut de l'expédition</th>
                      <!-- <th>Action</th> -->
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr *ngFor="let val of record let i = index">
                      	<td>{{ val.order_id }}</td>
                      	<td>
                      		<p *ngIf="val.user_id.length > 0;">
                      			{{ val.user_id[0].firstName}} {{ val.user_id[0].lastName}}
                      		</p>
                      	</td>
                      	
                      	<td> {{ val.ad_name }}</td>
                      	<td>
                      		<p *ngIf="val.ad_owner_user_id.length > 0;">
                      			{{ val.ad_owner_user_id[0].firstName}} {{ val.ad_owner_user_id[0].lastName}}
                      		</p>
                      	</td>
                      	<td> {{ val.contact_number }}</td>
                      	<td> {{ val.price }}</td>
                      	<td> {{ val.shipping_charge }}</td>
                      	<td> {{ val.tax }} (%) </td>
                      	<td> {{ val.final_price }}</td>
                      	<td> {{ val.payment_type }}</td>

                    <td>
                        <div *ngIf="val.payment_status == 1; else statusOut">
                          	<span class="badge bg-success">Complété</span>
	                    </div>
	                    <ng-template #statusOut>
	                        <span class="badge bg-danger">Incomplet</span>
	                    </ng-template>
                  	</td> 
                    <td>
                        <div *ngIf="val.shipping_status == 0; else statusOut2">
                            <span class="badge bg-info">Aucun</span>
                      </div>
                      <ng-template #statusOut2>
                        <ng-container *ngIf="val.shipping_status == 1; else statusOutSecond">
                             <span class="badge bg-info">Processus</span>
                        </ng-container>
                      </ng-template>
                      <ng-template #statusOutSecond>
                        <ng-container *ngIf="val.shipping_status == 2; else statusOutThird">
                             <span class="badge bg-danger">Annuler</span>
                        </ng-container>
                      </ng-template>
                      <ng-template #statusOutThird>
                        <ng-container *ngIf="val.shipping_status == 3;">
                             <span class="badge bg-success">Compléter</span>
                        </ng-container>
                      </ng-template>
                    </td> 
                    
                      <!-- <td>
                         
                      </td> -->
                    </tr>

                  </tbody>
                </table>

                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <!-- <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div> -->


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>