<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Invoice</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Facture complète</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Facture complète<small> </small></h3>
                </div>
                <div class="clearfix"></div><br>
                <!-- <div>
                  <b><a  class="btn btn-success export_btn" href="{{base_url_node}}exportCsvDriverApi"  target="_blank" download="download"  >Exporter csv</a></b>
                </div> -->
                <!-- /.card-header -->
                <!-- form start -->
                 <div class="card">
                <div class="card-header">
                  <h3 class="card-title"> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <select 
                            class="form-control" formControlName="user_id" (ngModelChange)="onChange($event)"
                            >
                              <option value="">Veuillez sélectionner</option>
                              <option *ngFor="let player of allMerchant" [value]="player._id">
                                  {{player.first_name}} {{player.last_name}} ---- {{player.phone}}
                              </option>
                            </select>
                          </div>
                        </div>
                        
                        
                      </div>

                    </div>
                    
                  </form> -->
  
                  
  
  
                <div class="table-responsive">
                  <!-- <table class="table table-striped"   datatable [dtOptions]="dtOptions"> -->
                  
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>ID de la commande</th>
                          <th>Nom complet</th> 
                          <th>Courriel</th>
                          <th>Téléphone</th>
                          <th>Prix final</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                         
                        <tr *ngFor="let val of allMerchant let i = index">
                          <td>{{ i+1 }}</td> 
                          <td>{{ val.order_id }}</td>
                          <td>{{ val.firstName}} {{ val.lastName}}</td>
                          <td>{{ val.email}}</td>
                          <td>{{ val.mobileNumber}}</td>
                          <td>{{ val.final_price}}</td>
                          <td>{{ val.order_created_at | date: 'dd/MM/yyyy'}}</td>
                          
                        </tr>
  
                      </tbody>
                    </table>

                </div>  
                <div class="clearfix"></div>
                  <br>
                  <ul class="pagination">
                      <li   *ngFor="let item of numbers; let i = index"  
                      [class.active]="selectedIndex === i"
                        (click)="getallBanner(item)">
                        <a class="" href="javascript:void(0)">{{item+1}}</a>
                      </li> 
                  </ul>

                  <div class="row">
                    <div class="col-md-2">
                  
                      
                    </div> 
                  </div>
                  


                  <div class="clearfix"></div>
                  <br>
                <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                </div>
  
  
                </div>
                <!-- /.card-body -->
              </div>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>