<body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Tableau de bord</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
	              <li class="breadcrumb-item active">Tableau de bord</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    <!-- /.content-header -->

	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        <!-- Info boxes -->
	        <div class="row">

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Compte de tous les utilisateurs</span>
	                <span class="info-box-number">{{ allUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les comptes actifs</span>
	                <span class="info-box-number">{{ allActiveUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <div class="col-12 col-sm-6 col-md-3">
	            <div class="info-box mb-3">
	              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

	              <div class="info-box-content">
	                <span class="info-box-text">Tous les comptes inactifs</span>
	                <span class="info-box-number">{{ allInActiveUserCount }}</span>
	              </div>
	              <!-- /.info-box-content -->
	            </div>
	            <!-- /.info-box -->
	          </div>

	          <!-- /.col -->
	          
	          <!-- /.col -->


	          

	          <!-- /.col -->
	        </div>
	        <!-- /.row -->

	        <div class="row"></div>
	        <!-- /.row -->

	        <!-- Main row -->
	        <div class="row"></div>
	        <!-- /.row -->
	      </div><!--/. container-fluid -->
	    </section>
	    <!-- /.content -->
	</div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

   <app-adminfooter></app-adminfooter>
</div>
</body>