 <!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
	    <!-- Brand Logo -->
	    <a href="index3.html" class="brand-link">
	      <img src="../../assets/admin-js-css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	      <span class="brand-text font-weight-light">AdminLTE 3</span>
	    </a>

	    <!-- Sidebar -->
	    <div class="sidebar">
	      <!-- Sidebar user panel (optional) -->
	      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
	        <div class="image">
	          <img *ngIf="old_userImage; else imageNotAvaiAdmin" src="{{old_userImage}}" class="img-circle elevation-2" alt="User Image">
	          <ng-template #imageNotAvaiAdmin>
	              <img src="../../assets/admin-js-css/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
	            </ng-template>
	        </div>
	        <div class="info">
	          <a routerLink="/editAdminProfile/{{old_id}}" class="d-block">{{old_firstName}} {{old_lastName}}</a>
	        </div>
	      </div>

	      <!-- SidebarSearch Form -->
	      <!-- <div class="form-inline">
	        <div class="input-group" data-widget="sidebar-search">
	          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
	          <div class="input-group-append">
	            <button class="btn btn-sidebar">
	              <i class="fas fa-search fa-fw"></i>
	            </button>
	          </div>
	        </div>
	      </div> -->

	      <!-- Sidebar Menu -->
	      <nav class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          <!-- Add icons to the links using the .nav-icon class
	               with font-awesome or any other icon font library -->
			     
		        <li class="nav-item" [ngClass]="(currentUrlSegment=='dashboard')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
		              <i class="nav-icon fas fa-tachometer-alt"></i>
		              <p>
		                Tableau de bord
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/dashboard" class="nav-link" [ngClass]="(currentUrlSegment=='dashboard')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tableau de bord</p>
		                </a>
		              </li>
		              
		            </ul>
		        </li>
	          	
		        	 
		        	 	<li class="nav-item"  [ngClass]="(currentUrlSegment=='allPaymentRequest'||currentUrlSegment=='allPendingPaymentRequest' || currentUrlSegment=='allPaidPaymentRequest'||currentUrlSegment=='allRejectedPaymentRequest')?'menu-open':''"  >
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='allPaymentRequest'||currentUrlSegment=='allPendingPaymentRequest' || currentUrlSegment=='allPaidPaymentRequest'||currentUrlSegment=='allRejectedPaymentRequest')?'active':''">
								<i class="nav-icon fas fa-money-check"></i>
								<p>
									Demande de paiement
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a routerLink="/allPaymentRequest" class="nav-link"  [ngClass]="(currentUrlSegment=='allPaymentRequest')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Tous</p>
									</a>
								</li>
								<li class="nav-item">
									<a routerLink="/allPendingPaymentRequest" class="nav-link"  [ngClass]="(currentUrlSegment=='allPendingPaymentRequest')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Pending</p>
									</a>
								</li>
								<li class="nav-item">
									<a routerLink="/allPaidPaymentRequest" class="nav-link"  [ngClass]="(currentUrlSegment=='allPaidPaymentRequest')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Payé</p>
									</a>
								</li>
								<li class="nav-item">
									<a routerLink="/allRejectedPaymentRequest" class="nav-link"  [ngClass]="(currentUrlSegment=='allRejectedPaymentRequest')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Refusé</p>
									</a>
								</li>
								
							</ul>
						</li>



	          	<li class="nav-item"  [ngClass]="(currentUrlSegment=='addBanner' || currentUrlSegment=='allBanner')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addBanner' || currentUrlSegment=='allBanner')?'active':''">
		              <i class="nav-icon far fa-image"></i>
		              <p>
		                Bannière
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              
		              <li class="nav-item" *ngIf=" p_addBanner == true ">
		                <a routerLink="/addBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='addBanner')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une bannière</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf=" p_allBanner == true ">
		                <a routerLink="/allBanner" class="nav-link"  [ngClass]="(currentUrlSegment=='allBanner')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les bannières</p>
		                </a>
		              </li>

		            </ul>
		        </li>
		        
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addCategory' || currentUrlSegment=='allCategory')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addCategory' || currentUrlSegment=='allCategory')?'active':''">
		              <i class="nav-icon fas fa-list-ul"></i>
		              <p>
		                Catégorie
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <!-- <li class="nav-item">
		                <a routerLink="/addCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='addCategory')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une catégorie</p>
		                </a>
		              </li> -->
		              <li class="nav-item" *ngIf=" p_allCategory == true " >
		                <a routerLink="/allCategory" class="nav-link"  [ngClass]="(currentUrlSegment=='allCategory')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les catégories</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addModel' || currentUrlSegment=='allModel')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addModel' || currentUrlSegment=='allModel')?'active':''">
		              <i class="nav-icon fas fa-list-ul"></i>
		              <p>
		                Modèles
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">

		              <li class="nav-item" *ngIf="p_addModel == true">
		                <a routerLink="/addModel" class="nav-link"  [ngClass]="(currentUrlSegment=='addModel')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter un modèle</p>
		                </a>
		              </li>
		              
		              <li class="nav-item" *ngIf="p_allModel == true">
		                <a routerLink="/allModel" class="nav-link"  [ngClass]="(currentUrlSegment=='allModel')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les modèles</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addSubModel' || currentUrlSegment=='allSubModel')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubModel'|| currentUrlSegment=='allSubModel')?'active':''">
		              <i class="nav-icon fas fa-copy"></i>
		              <p>
		                Sous-modèle
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_addSubModel == true">
		                <a routerLink="/addSubModel" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubModel')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter un sous-modèle</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_allSubModel == true">
		                <a routerLink="/allSubModel" class="nav-link"  [ngClass]="(currentUrlSegment=='allSubModel')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les sous-modèles</p>
		                </a>
		              </li>
		            </ul>
		        </li>
	          
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addCarAttribute' || currentUrlSegment=='allCarAttribute')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addCarAttribute'|| currentUrlSegment=='allCarAttribute')?'active':''">
		              <i class="nav-icon fas fa-th-list"></i>
		              <p>
		                Attributs
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_addAttribute == true">
		                <a routerLink="/addCarAttribute" class="nav-link"  [ngClass]="(currentUrlSegment=='addCarAttribute')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter des attributs</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_allAttribute == true">
		                <a routerLink="/allCarAttribute" class="nav-link"  [ngClass]="(currentUrlSegment=='allCarAttribute')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les attributs</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addColor' || currentUrlSegment=='allColor' || currentUrlSegment=='editColor' || currentUrlSegment=='addColorExtName' || currentUrlSegment=='allColorExtName' || currentUrlSegment=='editColorExtName')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addColor'|| currentUrlSegment=='allColor' || currentUrlSegment=='editColor' || currentUrlSegment=='addColorExtName' || currentUrlSegment=='allColorExtName' || currentUrlSegment=='editColorExtName')?'active':''">
		              <i class="nav-icon fas fa-th-list"></i>
		              <p>
		                Couleur extérieur
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_addColor == true">
		                <a routerLink="/addColor" class="nav-link"  [ngClass]="(currentUrlSegment=='addColor')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter couleur extérieur</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_allColor == true">
		                <a routerLink="/allColor" class="nav-link"  [ngClass]="(currentUrlSegment=='allColor' || currentUrlSegment=='editColor')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes couleur extérieur</p>
		                </a>
		              </li>


		              <li class="nav-item" *ngIf="p_addColor == true">
		                <a routerLink="/addColorExtName" class="nav-link"  [ngClass]="(currentUrlSegment=='addColorExtName')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter extérieur nom</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_allColor == true">
		                <a routerLink="/allColorExtName" class="nav-link"  [ngClass]="(currentUrlSegment=='allColorExtName'|| currentUrlSegment=='editColorExtName')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes extérieur nom</p>
		                </a>
		              </li>


		            </ul>
		        </li>


		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addColorInterior' || currentUrlSegment=='allColorInterior' || currentUrlSegment=='editColorInterior' || currentUrlSegment=='addColorInteriorName' || currentUrlSegment=='allColorInteriorName' || currentUrlSegment=='editColorInteriorName')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addColorInterior' || currentUrlSegment=='allColorInterior' || currentUrlSegment=='editColorInterior' || currentUrlSegment=='addColorInteriorName' || currentUrlSegment=='allColorInteriorName' || currentUrlSegment=='editColorInteriorName')?'active':''">
								<i class="nav-icon fas fa-th-list"></i>
								<p>
									Couleur intérieur
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" *ngIf="p_addColor == true">
									<a routerLink="/addColorInterior" class="nav-link"  [ngClass]="(currentUrlSegment=='addColorInterior')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter couleur intérieur</p>
									</a>
								</li>
								<li class="nav-item" *ngIf="p_allColor == true">
									<a routerLink="/allColorInterior" class="nav-link"  [ngClass]="(currentUrlSegment=='allColorInterior' || currentUrlSegment=='editColorInterior')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes couleur intérieur</p>
									</a>
								</li>


								<li class="nav-item" *ngIf="p_addColor == true">
									<a routerLink="/addColorInteriorName" class="nav-link"  [ngClass]="(currentUrlSegment=='addColorInteriorName')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter intérieur nom</p>
									</a>
								</li>
								<li class="nav-item" *ngIf="p_allColor == true">
									<a routerLink="/allColorInteriorName" class="nav-link"  [ngClass]="(currentUrlSegment=='allColorInteriorName'|| currentUrlSegment=='editColorInteriorName')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes intérieur nom</p>
									</a>
								</li>


							</ul>
					</li>

		        <li *ngIf="user_type == 'admin' " class="nav-item"  [ngClass]="(currentUrlSegment=='addSubAdmin' || currentUrlSegment=='allSubAdmin')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubAdmin'|| currentUrlSegment=='allSubAdmin')?'active':''">
		              <i class="nav-icon fas fa-th-list"></i>
		              <p>
		                Sous-administrateur
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/addSubAdmin" class="nav-link"  [ngClass]="(currentUrlSegment=='addSubAdmin')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter un sous-administrateur</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/allSubAdmin" class="nav-link"  [ngClass]="(currentUrlSegment=='allSubAdmin')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les sous-administrateurs</p>
		                </a>
		              </li>
		            </ul>
		        </li>

		        
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='userCarAdPlan' || currentUrlSegment=='topUrgent'|| currentUrlSegment=='allUserCarAdPlan'|| currentUrlSegment=='addUserTopListPlan' || currentUrlSegment== 'allUserTopListPlan' || currentUrlSegment=='addAccessoriesParticular' || currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular' || currentUrlSegment=='addTopUrgent'|| currentUrlSegment=='allTopUrgent'|| currentUrlSegment=='editTopUrgent')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='userCarAdPlan' || currentUrlSegment=='topUrgent'|| currentUrlSegment=='allUserCarAdPlan'|| currentUrlSegment=='addUserTopListPlan' || currentUrlSegment== 'allUserTopListPlan'|| currentUrlSegment=='addAccessoriesParticular' || currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular' || currentUrlSegment=='addTopUrgent'|| currentUrlSegment=='allTopUrgent'|| currentUrlSegment=='editTopUrgent')?'active':''">
		              <i class="nav-icon fas fa-paper-plane"></i>
		              <p>
		                Plan de publicité
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_usercaradplan_module_add == true">
		                <a routerLink="/userCarAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='userCarAdPlan')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Publicité pour une voiture d'utilisateur normal</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_usercaradplan_module_view == true">
		                <a routerLink="/allUserCarAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='allUserCarAdPlan')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous les utilisateurs normaux de la voiture</p>
		                </a>
		              </li>


									<li class="nav-item" >
		                <a routerLink="/addUserTopListPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='addUserTopListPlan')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter la liste de tête</p>
		                </a>
		              </li>
									<li class="nav-item" >
		                <a routerLink="/allUserTopListPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='allUserTopListPlan')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les listes de tête</p>
		                </a>
		              </li>

		              	<!-- <li class="nav-item" *ngIf="p_cartopurgent_module== true">
			                <a routerLink="/topUrgent" class="nav-link"  [ngClass]="(currentUrlSegment=='topUrgent')?'active':''">
			                  <i class="far fa-circle nav-icon"></i>
			                  <p>Plan d'urgence supérieur</p>
			                </a>
		              	</li> -->


										<li class="nav-item" >
											<a routerLink="/addTopUrgent" class="nav-link"  [ngClass]="(currentUrlSegment=='addTopUrgent')?'active':''">
												<i class="far fa-circle nav-icon"></i>
												<p>Ajouter le haut urgent</p>
											</a>
										</li>
										<li class="nav-item" >
											<a routerLink="/allTopUrgent" class="nav-link"  [ngClass]="(currentUrlSegment=='allTopUrgent' || currentUrlSegment=='editTopUrgent')?'active':''">
												<i class="far fa-circle nav-icon"></i>
												<p>Toutes les urgences</p>
											</a>
										</li>




										<li class="nav-item" >
											<a routerLink="/addAccessoriesParticular" class="nav-link"  [ngClass]="(currentUrlSegment=='addAccessoriesParticular')?'active':''">
												<i class="far fa-circle nav-icon"></i>
												<p>Ajouter un plan</p>
											</a>
										</li>
		
										<li class="nav-item" >
											<a routerLink="/allAccessoriesParticular" class="nav-link"  [ngClass]="(currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular')?'active':''">
												<i class="far fa-circle nav-icon"></i>
												<p>Tous les plans</p>
											</a>
										</li>

										
		            </ul>
		        </li>
						
						<li class="nav-item"[ngClass]="( currentUrlSegment=='ProuserCarAdPlan' ||currentUrlSegment=='allProuserCarAdPlan' ||currentUrlSegment=='editProuserCarAdPlan'||currentUrlSegment=='addProUserTopSearch' ||currentUrlSegment=='allProUserTopSearch' ||currentUrlSegment=='editProUserTopSearch')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="( currentUrlSegment=='ProuserCarAdPlan' || currentUrlSegment=='allProuserCarAdPlan'||currentUrlSegment=='editProuserCarAdPlan'||currentUrlSegment=='addProUserTopSearch' ||currentUrlSegment=='allProUserTopSearch' ||currentUrlSegment=='editProUserTopSearch')?'active':''">
								<i class="nav-icon fas fa-paper-plane"></i>
								<p>
									Plan professionnel
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>

							<ul class="nav nav-treeview">
								<li class="nav-item" *ngIf="p_allProUserCarAdPlan_add == true">
									<a routerLink="/ProuserCarAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='ProuserCarAdPlan')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Publicité pour une voiture d'utilisateur professionnel</p>
									</a>
								</li>

								<li class="nav-item"   *ngIf="p_allProUserCarAdPlan_view == true">
									<a routerLink="/allProuserCarAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='allProuserCarAdPlan'||currentUrlSegment=='editProuserCarAdPlan')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes les annonces de voitures d'utilisateurs professionnels</p>
									</a>
								</li>

								<li class="nav-item" >
									<a routerLink="/addProUserTopSearch" class="nav-link"  [ngClass]="(currentUrlSegment=='addProUserTopSearch')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter top recherche</p>
									</a>
								</li>

								<li class="nav-item" >
									<a routerLink="/allProUserTopSearch" class="nav-link"  [ngClass]="(currentUrlSegment=='allProUserTopSearch'||currentUrlSegment=='editProUserTopSearch')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Tout top recherche</p>
									</a>
								</li>


								


							</ul>
						</li>

						<li class="nav-item"[ngClass]="( currentUrlSegment=='proUserAccessAdPlan' ||currentUrlSegment=='allProUserAccessAdPlan' ||currentUrlSegment=='editProUserAccessAdPlan'||currentUrlSegment=='addProUserTopSearchAccess' ||currentUrlSegment=='allProUserAccessAdPlanAccess' ||currentUrlSegment=='editProUserAccessAdPlanAccess')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="( currentUrlSegment=='proUserAccessAdPlan' || currentUrlSegment=='allProUserAccessAdPlan'||currentUrlSegment=='editProUserAccessAdPlan'||currentUrlSegment=='addProUserTopSearchAccess' ||currentUrlSegment=='allProUserAccessAdPlanAccess' ||currentUrlSegment=='editProUserAccessAdPlanAccess')?'active':''">
								<i class="nav-icon fas fa-paper-plane"></i>
								<p>
									Accessoires plan professionnel
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>

							<ul class="nav nav-treeview">
								
								<li class="nav-item" >
									<a routerLink="/proUserAccessAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='proUserAccessAdPlan')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Accessoires plan de base</p>
									</a>
								</li>
								<li class="nav-item" >
									<a routerLink="/allProUserAccessAdPlan" class="nav-link"  [ngClass]="(currentUrlSegment=='allProUserAccessAdPlan'||currentUrlSegment=='editProUserAccessAdPlan')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Plan de base tous accessoires</p>
									</a>
								</li>


								<li class="nav-item" >
									<a routerLink="/addProUserTopSearchAccess" class="nav-link"  [ngClass]="(currentUrlSegment=='addProUserTopSearchAccess')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Plan de recherche d'accessoires</p>
									</a>
								</li>
								<li class="nav-item" >
									<a routerLink="/allProUserAccessAdPlanAccess" class="nav-link"  [ngClass]="(currentUrlSegment=='allProUserAccessAdPlanAccess'||currentUrlSegment=='editProUserAccessAdPlanAccess')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Tous plan de recherche d'accessoires</p>
									</a>
								</li>


							</ul>
						</li>

						<!-- <li class="nav-item"  [ngClass]="(currentUrlSegment=='addAccessoriesParticular' || currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addAccessoriesParticular' || currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular')?'active':''">
								<i class="nav-icon fas fa-chalkboard-teacher"></i>
								<p>
									Plan d'accessoires particuliers
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								
								<li class="nav-item" >
									<a routerLink="/addAccessoriesParticular" class="nav-link"  [ngClass]="(currentUrlSegment=='addAccessoriesParticular')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter un plan</p>
									</a>
								</li>

								<li class="nav-item" >
									<a routerLink="/allAccessoriesParticular" class="nav-link"  [ngClass]="(currentUrlSegment=='allAccessoriesParticular' || currentUrlSegment=='editAccessoriesParticular')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Tous les plans</p>
									</a>
								</li>
							</ul>
						</li> -->

					

		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allNormalUsers' || currentUrlSegment=='allProUsers')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addUsers' || currentUrlSegment=='allNormalUsers')?'active':''">
		              <i class="nav-icon fas fa-chalkboard-teacher"></i>
		              <p>
		                Utilisateurs
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_allUser == true">
		                <a routerLink="/allNormalUsers" class="nav-link"  [ngClass]="(currentUrlSegment=='allNormalUsers')?'active':''">
		                  <i class="fas fa-circle nav-icon"></i>
		                  <p>  Tous les utilisateurs normaux</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_allUser == true">
		                <a routerLink="/allProUsers" class="nav-link"  [ngClass]="(currentUrlSegment=='allProUsers')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>  Utilisateur professionnel</p>
		                </a>
		              </li>
		            </ul>
		        </li>


		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='accessoriesNormalUserAd' || currentUrlSegment=='accessoriesProUserAd'|| currentUrlSegment=='accessoriesActiveNormalUserAd'|| currentUrlSegment=='accessoriesActiveProUserAd' || currentUrlSegment=='accessoriesInActiveProUserAd')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesNormalUserAd' || currentUrlSegment=='accessoriesProUserAd'|| currentUrlSegment=='accessoriesActiveNormalUserAd'|| currentUrlSegment=='accessoriesActiveProUserAd' || currentUrlSegment=='accessoriesInActiveProUserAd')?'active':''">
		              <i class="fas fa-sort-amount-up"></i>
		              <p>
		                Annonces accessoires
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_accessoriesUserAd_module == true">
		                <a routerLink="/accessoriesNormalUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesNormalUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur normal</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_accessoriesUserAd_module == true">
		                <a routerLink="/accessoriesActiveNormalUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesActiveNormalUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur normal actif Ad</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_accessoriesUserAd_module == true">
		                <a routerLink="/accessoriesProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_accessoriesUserAd_module == true">
		                <a routerLink="/accessoriesActiveProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesActiveProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel actif Ad</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_accessoriesUserAd_module == true">
		                <a routerLink="/accessoriesInActiveProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesInActiveProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel inactif Ad</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='carNormalUserAd' || currentUrlSegment=='carProUserAd'|| currentUrlSegment=='carActiveProUserAd'|| currentUrlSegment=='carActiveNormalUserAd'|| currentUrlSegment=='carInActiveNormalUserAd'|| currentUrlSegment=='carInActiveProUserAd')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='carNormalUserAd' || currentUrlSegment=='carProUserAd'|| currentUrlSegment=='carActiveProUserAd'|| currentUrlSegment=='carActiveNormalUserAd'|| currentUrlSegment=='carInActiveNormalUserAd'|| currentUrlSegment=='carInActiveProUserAd')?'active':''">
		              <i class="fas fa-sort-amount-up"></i>
		              <p>
		                Annonces voiture
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carNormalUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carNormalUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur normal</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carActiveNormalUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carActiveNormalUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur normal actif Ad</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carInActiveNormalUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carInActiveNormalUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur normal inactif Ad</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel</p>
		                </a>
		              </li>

		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carActiveProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carActiveProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel actif Ad</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_carUserAd_module == true">
		                <a routerLink="/carInActiveProUserAd" class="nav-link"  [ngClass]="(currentUrlSegment=='carInActiveProUserAd')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Utilisateur professionnel inactif Ad</p>
		                </a>
		              </li>
		            </ul>
		        </li>


		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='accessoriesOrders' || currentUrlSegment=='accessoriesOrdersProcess' || currentUrlSegment=='accessoriesOrdersCancel' || currentUrlSegment=='accessoriesOrdersComplete')?'menu-open':''" *ngIf="p_accessoriesOrders_module == true ">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesOrders')?'active':''">
		              <i class="nav-icon fas fa-money-check"></i>
		              <p>
		                Commandes
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item">
		                <a routerLink="/accessoriesOrders" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesOrders')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Tous</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/accessoriesOrdersProcess" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesOrdersProcess')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Processus</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/accessoriesOrdersCancel" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesOrdersCancel')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Annuler</p>
		                </a>
		              </li>
		              <li class="nav-item">
		                <a routerLink="/accessoriesOrdersComplete" class="nav-link"  [ngClass]="(currentUrlSegment=='accessoriesOrdersComplete')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Terminer</p>
		                </a>
		              </li>
		              
		            </ul>
		        </li>

		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='sendPushNotification' || currentUrlSegment=='allPushNotification')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotification' || currentUrlSegment=='allPushNotification')?'active':''">
		              <i class="nav-icon fas fa-bell"></i>
		              <p>
		                Poussée de notification
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_pushNotification_module_add">
		                <a routerLink="/sendPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='sendPushNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Envoyer une notification push</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_pushNotification_module_view">
		                <a routerLink="/allPushNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='allPushNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les notifications push</p>
		                </a>
		              </li>
		            </ul>
		        </li>

		        
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='sendEmailNotification' || currentUrlSegment=='allEmailNotification')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='sendEmailNotification' || currentUrlSegment=='allEmailNotification')?'active':''">
		              <i class="nav-icon far fa-envelope"></i>
		              <p>
		                Courriel de notification
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_emailNotification_module_add">
		                <a routerLink="/sendEmailNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='sendEmailNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Envoyer une notification par courriel</p>
		                </a>
		              </li>
		              <li class="nav-item"*ngIf="p_emailNotification_module_view">
		                <a routerLink="/allEmailNotification" class="nav-link"  [ngClass]="(currentUrlSegment=='allEmailNotification')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les notifications courriel</p>
		                </a>
		              </li>
		            </ul>
		        </li>
		        
		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addPage' || currentUrlSegment=='allPage')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addPage' || currentUrlSegment=='allPage')?'active':''">
		              <i class="nav-icon fas fa-book"></i>
		              <p>
		                Pages
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_page_module_add == true">
		                <a routerLink="/addPage" class="nav-link"  [ngClass]="(currentUrlSegment=='addPage')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Page d'ajout</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_page_module_view == true">
		                <a routerLink="/allPage" class="nav-link"  [ngClass]="(currentUrlSegment=='allPage')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Page de liste</p>
		                </a>
		              </li>
		            </ul>
		        </li>


		        <li class="nav-item"  [ngClass]="(currentUrlSegment=='addUserFaq' || currentUrlSegment=='allUserFaq' || currentUrlSegment=='editUserFaq')?'menu-open':''">
		            <a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addUserFaq' || currentUrlSegment=='allUserFaq' || currentUrlSegment=='editUserFaq')?'active':''">
		              <i class="nav-icon fas fa-book"></i>
		              <p>
		                Faq de l'utilisateur
		                <i class="right fas fa-angle-left"></i>
		              </p>
		            </a>
		            <ul class="nav nav-treeview">
		              <li class="nav-item" *ngIf="p_page_module_add == true">
		                <a routerLink="/addUserFaq" class="nav-link"  [ngClass]="(currentUrlSegment=='addUserFaq')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Ajouter une Faq</p>
		                </a>
		              </li>
		              <li class="nav-item" *ngIf="p_page_module_view == true">
		                <a routerLink="/allUserFaq" class="nav-link"  [ngClass]="(currentUrlSegment=='allUserFaq')?'active':''">
		                  <i class="far fa-circle nav-icon"></i>
		                  <p>Toutes les FAQ</p>
		                </a>
		              </li>
		            </ul>
		        </li>

						<li class="nav-item"  [ngClass]="(currentUrlSegment=='stripeKey'||currentUrlSegment=='paypalKey')?'menu-open':''"  >
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='stripeKey'||currentUrlSegment=='paypalKey')?'active':''">
								<i class="nav-icon fas fa-money-check"></i>
								<p>
									Paramètres de paiement
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a routerLink="/stripeKey" class="nav-link"  [ngClass]="(currentUrlSegment=='stripeKey')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Stripe</p>
									</a>
								</li>
								<li class="nav-item">
									<a routerLink="/paypalKey" class="nav-link"  [ngClass]="(currentUrlSegment=='paypalKey')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Paypal</p>
									</a>
								</li>
								
							</ul>
						</li>

						<li class="nav-item"  [ngClass]="(currentUrlSegment=='addCountry' || currentUrlSegment=='allCountry' || currentUrlSegment=='editCountry')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addCountry' || currentUrlSegment=='allCountry' || currentUrlSegment=='editCountry')?'active':''">
								<i class="nav-icon far fa-image"></i>
								<p>
									Pays
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								
								<li class="nav-item"  >
									<a routerLink="/addCountry" class="nav-link"  [ngClass]="(currentUrlSegment=='addCountry')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter des pays</p>
									</a>
								</li>
								<li class="nav-item"  >
									<a routerLink="/allCountry" class="nav-link"  [ngClass]="(currentUrlSegment=='allCountry' || currentUrlSegment=='editCountry')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes les pays</p>
									</a>
								</li>

							</ul>
						</li>

						<li class="nav-item"  [ngClass]="(currentUrlSegment=='addVersions' || currentUrlSegment=='allVersions' || currentUrlSegment=='editVersions')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addVersions' || currentUrlSegment=='allVersions' || currentUrlSegment=='editVersions')?'active':''">
								<i class="nav-icon far fa-image"></i>
								<p>
									Versions
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								
								<li class="nav-item"  >
									<a routerLink="/addVersions" class="nav-link"  [ngClass]="(currentUrlSegment=='addVersions')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter des Version</p>
									</a>
								</li>
								<li class="nav-item"  >
									<a routerLink="/allVersions" class="nav-link"  [ngClass]="(currentUrlSegment=='allVersions' || currentUrlSegment=='editVersions')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes les Version</p>
									</a>
								</li>

							</ul>
						</li>

						<li class="nav-item"  [ngClass]="(currentUrlSegment=='addOptions' || currentUrlSegment=='allOptions' || currentUrlSegment=='editOptions')?'menu-open':''">
							<a href="#" class="nav-link"  [ngClass]="(currentUrlSegment=='addOptions' || currentUrlSegment=='allOptions' || currentUrlSegment=='editOptions')?'active':''">
								<i class="nav-icon far fa-image"></i>
								<p>
									Options
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								
								<li class="nav-item"  >
									<a routerLink="/addOptions" class="nav-link"  [ngClass]="(currentUrlSegment=='addOptions')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Ajouter des options</p>
									</a>
								</li>
								<li class="nav-item"  >
									<a routerLink="/allOptions" class="nav-link"  [ngClass]="(currentUrlSegment=='allOptions' || currentUrlSegment=='editOptions')?'active':''">
										<i class="far fa-circle nav-icon"></i>
										<p>Toutes les options</p>
									</a>
								</li>

							</ul>
						</li>


					<li class="nav-item">
						<a routerLink="/setting" class="nav-link">
							<i class="nav-icon far fa-circle text-success"></i>
							<p class="text">Réglage</p>
						</a>
					</li>

					
						<li class="nav-item">
							<a routerLink="/manageTitle" class="nav-link">
								<i class="nav-icon far fa-circle text-success"></i>
								<p class="text">Gérer le titre</p>
							</a>
						</li>
						
		        	<li class="nav-item">
		            <a routerLink="/adminChangePassword/{{old_id}}" class="nav-link">
		              <i class="nav-icon far fa-circle text-success"></i>
		              <p class="text">Modifier le mot de passe</p>
		            </a>
	          	</li>
	          	
	          	<li class="nav-item">
		            <a routerLink="/logout" class="nav-link">
		              <i class="nav-icon far fa-circle text-danger"></i>
		              <p class="text">Logout</p>
		            </a>
	          	</li>
	          
	        </ul>
	      </nav>
	      <!-- /.sidebar-menu -->
	    </div>
	    <!-- /.sidebar -->
	</aside>
