<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
  
      <app-adminheader></app-adminheader>
    <app-adminsidebar></app-adminsidebar>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Bannière</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
                <li class="breadcrumb-item active">Ajouter une bannière</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Ajouter une bannière<small></small></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                     
                    <div class="form-group">
                      <label for="file">Image</label>
                      <div class="clearfix"></div><br>
                      <img *ngIf=" old_iamge.length > 0" src="{{base_url_node_only}}{{old_iamge[0].path}}" height="120" width="120"> 
                      <div class="clearfix"></div><br>
                      <input
                          formControlName="images"
                          id="images"
                          type="file"
                            
                          (change)="onFileChange($event)"
                          accept="image/png, image/jpeg, image/jpg, image/gif">
                      <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                          <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                      </div>
                    </div>
                      
  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Première rubrique</label>
                      <input type="text" formControlName="first_heading"
                        id="first_heading"  
                        class="form-control"
                        placeholder="Première rubrique" [(ngModel)]="old_first_heading">
                      <div *ngIf="f['first_heading'].touched && f['first_heading'].invalid" class="validation_error">
                        <div *ngIf="f['first_heading'].errors && f['first_heading'].errors['required']">Le première rubrique est requis.</div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="exampleInputEmail1">Deuxième rubrique</label>
                      <input type="text" formControlName="second_heading"
                        id="second_heading"  
                        class="form-control"
                        placeholder="Deuxième rubrique" [(ngModel)]="old_second_heading">
                      <div *ngIf="f['second_heading'].touched && f['second_heading'].invalid" class="validation_error">
                        <div *ngIf="f['second_heading'].errors && f['second_heading'].errors['required']">Le deuxième rubrique est requis.</div>
                      </div>
                    </div>
  
                     
  
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                  </div>
  
                  <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse">
                      <div *ngIf="apiResponse.error; else loggedOut">
                        <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </div>
                      <ng-template #loggedOut>
                        <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                      </ng-template>
                    </div>
  
                </form>
              </div>
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
  
            </div>
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  
    <!-- Control Sidebar -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
      <!-- Control sidebar content goes here -->
    <!-- /.control-sidebar -->
  
    
     <app-adminfooter></app-adminfooter>
  </div>
  </body>