<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Page d'ajout</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Page d'ajout</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Page d'ajout<small></small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Nom de la page (slug)</label>
                    <input type="text" formControlName="slug_name"
                      id="slug_name"  
                      class="form-control"
                      placeholder="Slug de la page">
                    <div *ngIf="f['slug_name'].touched && f['slug_name'].invalid" class="validation_error">
                      <div *ngIf="f['slug_name'].errors && f['slug_name'].errors['required']">Le slug de la page est requis</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Titre de la page</label>
	                    <input type="text" formControlName="page_title"
	                      id="page_title"  
	                      class="form-control"
	                      placeholder="Titre de la page">
	                    <div *ngIf="f['page_title'].touched && f['page_title'].invalid" class="validation_error">
	                      <div *ngIf="f['page_title'].errors && f['page_title'].errors['required']">Le titre de la page est obligatoire.</div>
	                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Contenu</label>
	                  <div class="NgxEditor__Wrapper">
						  <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
						  <ngx-editor
						  formControlName="html"
						    [editor]="editor"
						    [(ngModel)]="html"
						    [disabled]="false"
						    [placeholder]="'Tapez ici...'"
						  ></ngx-editor>
						</div>
						
						  <div class="clearfix"></div><br>
						  <div *ngIf="f['html'].touched && f['html'].invalid" class="validation_error">
		                      <div *ngIf="f['html'].errors && f['html'].errors['required']">Le contenu est obligatoire.</div>
		                    </div>
				</div>



                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>