<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/admin" class="h1"><b>Porschists</b> admin</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group mb-3">
        <input type="text" formControlName="firstName"
          id="firstName"  
          class="form-control" placeholder="First name">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
        <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="validation_error">
          <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First name is required.</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" formControlName="lastName"
          id="lastName"  
          class="form-control" placeholder="Last name">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="validation_error">
          <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Last name is required.</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" formControlName="userName"
          id="userName"  
          class="form-control" placeholder="User name">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
        <div *ngIf="f['userName'].touched && f['userName'].invalid" class="validation_error">
          <div *ngIf="f['userName'].errors && f['userName'].errors['required']">User name is required.</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="email" formControlName="email"
          id="email"  
          class="form-control"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"placeholder="Email">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
        <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
          <div *ngIf="f['email'].errors && f['email'].errors['pattern']">Please, enter valid email address.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input formControlName="password"
          id="password" 
          type="password" 
          class="form-control" placeholder="Password">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
          <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password should be 6 character.</div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input formControlName="confirmPassword"
          id="confirmPassword" 
          type="password" 
          class="form-control" placeholder="Confirm password">
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
        <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="validation_error">
          <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirm password is required.</div>
          <div *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">Confirm password should be 6 character.</div>
        </div>
    </div>

      <div class="row">
        <div class="col-8">
          <!-- <div class="icheck-primary">
            <input type="checkbox" id="remember">
            <label for="remember">
               Remember Me
            </label>
          </div> -->
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
 
      <div class="clearfix"></div>
      <br>
      <div class="comeBack_up" *ngIf="apiResponse">
        <div *ngIf="apiResponse.error; else loggedOut">
          <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
        </div>
        <ng-template #loggedOut>
          <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
        </ng-template>
      </div>
    </form>
      

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <!-- <a href="/admin">I forgot my password</a> -->
        <a href="/admin">Login</a>
      </p>
       
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


</body>