<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modèles</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Ajouter un modèle</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"><small>Ajouter un modèle</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="card-body">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Type d'attribut</label>
                    <select name="attribute_type" formControlName="attribute_type"  
                      class="form-control"
                      >
                        <option value="">Veuillez sélectionner</option>
                        <option *ngFor="let val of allCarCategory" [value]="val.category">{{ val.category }}</option>
                    </select>
                    <div *ngIf="f['attribute_type'].touched && f['attribute_type'].invalid" class="validation_error">
                      <div *ngIf="f['attribute_type'].errors && f['attribute_type'].errors['required']">Le type d'attribut est requis.</div>
                    </div>
                  </div>



                  <div class="form-group">
                    <label for="file">Fichier:</label><br>
                    <input
                        formControlName="file"
                        id="file"
                        type="file"
                         
                        (change)="onFileChange($event)">
                                   

                    <div *ngIf="f['file'].touched && f['file'].invalid" class="validation_error">
                        <div *ngIf="f['file'].errors && f['file'].errors['required']">Le fichier est requis.</div>
                    </div>

                  </div>

                  <div class="form-group">
                    <label for="file">Image en noir et blanc:</label><br>
                    <input
                        formControlName="black_white_file"
                        id="file"
                        type="file"
                         
                        (change)="onFileChange2($event)">
                                   
                    <div class="clearfix"></div><br>
	                   

                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Modèle</label>
                    <input type="text" formControlName="model_name"
                      id="model_name"  
                      class="form-control"
                      placeholder="Modèle">
                    <div *ngIf="f['model_name'].touched && f['model_name'].invalid" class="validation_error">
                      <div *ngIf="f['model_name'].errors && f['model_name'].errors['required']">Le nom du modèle est requis.</div>
                    </div>
                  </div>


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Soumettre</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>