<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Détail de la banque de l'utilisateur</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Détail de la banque de l'utilisateur</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>



     <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
	          <div class="col-md-12">
	            <!-- jquery validation -->
	            <div class="card card-primary">
	              <div class="card-header">
	                <h3 class="card-title">Paypal et coordonnées bancaires<small> </small></h3>
	              </div>




	              <div class="card">
	              <div class="card-header">
	                <h3 class="card-title"> </h3>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body p-0">


	              	<div class="row">
                    <div class="col-lg-6 col-md-12">
                      <div class="white-box">  

                        <div *ngFor="let xyz of singleRecord" >
                        <div class="value">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="name">
                                      <span>Email Paypal</span>
                                  </div>
                              </div>
                              <div class=col-md-6>
                                  <div class="name">
                                      <span> {{xyz.paypal_email}} </span>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>


                      <div class="clearfix"></div><br><br>

                      <ng-container *ngIf="singleRecord.bank.length > 0">
	                      <div *ngFor="let xyz of singleRecord.bank" >
	                        <div class="value">
	                          <div class="row">
	                              <div class="col-md-6">
	                                  <div class="name">
	                                      <span>Nom de la banque</span>
	                                  </div>
	                              </div>
	                              <div class=col-md-6>
	                                  <div class="name">
	                                      <span> {{xyz}} </span>
	                                  </div>
	                              </div>
	                          </div>
	                        </div>
	                      </div>
	                    </ng-container>  


                    </div>
                  </div>
                </div>





	              	<div class="clearfix"></div>
	                  <br>
	  	            


	  	           </div>
	              <!-- /.card-body -->
	            </div>
	            </div>
	            <!-- /.card -->
	            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>