<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add car attribute</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Add car attribute</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add car attribute<small> for prduct</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="submit()">
              		<input type="hidden" name="edit_id" formControlName="edit_id" [(ngModel)]="edit_id" >
                <div class="card-body">

                  <div class="form-group">
                    <label for="exampleInputEmail1">Attribute type</label>
                    <select name="attribute_type" formControlName="attribute_type"  
                      class="form-control"
                      #mySelect
                      (change)='onOptionsSelected(mySelect.value)' [(ngModel)]="old_attribute_type"
                      >
                        <option value="">Please select</option>
                        <option *ngFor="let val of allCarCategory" [value]="val.category">{{ val.category }}</option>
                    </select>

                    <div *ngIf="f['attribute_type'].touched && f['attribute_type'].invalid" class="validation_error">
                      <div *ngIf="f['attribute_type'].errors && f['attribute_type'].errors['required']">Attribute type is required.</div>
                    </div>

                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Main attribute name</label>
                    <select name="parent_id" formControlName="parent_id"  
                      class="form-control" [(ngModel)]="old_parent_id"
                      >
                        <option value="">Please select</option>
                        <option *ngFor="let val of allCarAttribute" [value]="val._id">{{ val.attribute_name }}</option>
                    </select>

                    <div *ngIf="f['parent_id'].touched && f['parent_id'].invalid" class="validation_error">
                      <div *ngIf="f['parent_id'].errors && f['parent_id'].errors['required']">Main attribute name is required.</div>
                    </div>



                  </div>


                  <div class="form-group">
                    <label for="exampleInputEmail1">Attribute name</label>
                    <input type="text" formControlName="attribute_name"
                      id="attribute_name"  
                      class="form-control"
                      placeholder="Attribute name" [(ngModel)]="old_attribute_name">
                    <div *ngIf="f['attribute_name'].touched && f['attribute_name'].invalid" class="validation_error">
                      <div *ngIf="f['attribute_name'].errors && f['attribute_name'].errors['required']">Attribute name is required.</div>
                    </div>
                  </div>


                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                      <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </ng-template>
                  </div>

              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>