<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <app-adminheader></app-adminheader>
  <app-adminsidebar></app-adminsidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Demande de paiement</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
              <li class="breadcrumb-item active">Demande de paiement</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Tous les demande de paiement<small> </small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <div class="card">
              <div class="card-header">
                <h3 class="card-title"> </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">

               <!--   <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="card-body">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titre de l'annonce</label>
                            <input type="text" formControlName="title"
                              id="title"  
                              class="form-control"
                              placeholder="Titre de l'annonce"
                              >
                        </div>
                      </div>
                       
                     
                    <div class="col-md-4">  
                      <div class="form-group">
                        <label for="exampleInputEmail1">État</label>
                        <select name="state" formControlName="state"  
                          class="form-control"
                          >
                            <option value="">Veuillez sélectionner</option>
                            <option value="Neuf">Neuf</option>
                            <option value="Occasion">Occasion</option>
                        </select>
                      </div>
                    </div>
                     
                     
 

                     



                    </div>
                  </div>
                   
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{base_url}}accessoriesNormalUserAd" class="btn btn-warning">Réinitialisation</a>


                  </div>
                  <div class="card-footer">
                    
                  </div>
                </form> -->



                <table id="example2" class="table table">
                  <thead>
                    <tr>
                      <th scope="col">Nom de la banque</th>
					            <th scope="col">Nom du titulaire du compte</th>
					            <th scope="col">bic</th>
					            <th scope="col">Pays</th>
					            <th scope="col">Ville</th>
					            <th scope="col">adresse</th>
					            <th scope="col">Code postal</th>
					            <th scope="col">Date du paiement</th>
					            <th scope="col">Prix</th>
					            <th scope="col">Statut</th>

                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     
                    <tr *ngFor="let trans of record let i = index">
                      	<td>{{trans.bank[0].bank_name}}- {{trans.bank[0].bic}} </td>
            <td>{{trans.bank[0].account_holder_name}} </td>
            <td>{{trans.bank[0].bic}} </td>
            <td>{{trans.bank[0].country}} </td>
            <td>{{trans.bank[0].city}} </td>
            <td>{{trans.bank[0].address}} </td>
            <td>{{trans.bank[0].zip_code}} </td>
            <td>{{trans.created_at |date:'dd/MM/yyyy'}} </td>
            <td>{{trans.amount}} <i class="fa-solid fa-euro"></i></td>
            <td>
                <span class="ms-1" *ngIf="trans.status == 1 ">
                    En cours </span>
                <span class="ms-1" *ngIf="trans.status == 2 ">Annuler </span>
                <span class="ms-1" *ngIf="trans.status == 3 ">Terminé </span>
           
            </td>

                     
                      <td>
                        <div *ngIf="trans.status == 1;">
                          <a  (click)="updateUserStatus(trans._id,2);" class="btn btn-block btn-danger">Rejeter</a>

                          <a  (click)="updateUserStatus(trans._id,3);" class="btn btn-block btn-success">Accepter</a>

                      </div>
                       
                      </td>
                    </tr>

                  </tbody>
                </table>

                <div class="clearfix"></div>
                <br>

                 
                <ul class="pagination">
                    <li   *ngFor="let item of numbers; let i = index"  
                    [class.active]="selectedIndex === i"
                      (click)="getallBanner(item)">
                      <a class="" href="javascript:void(0)">{{item+1}}</a>
                    </li> 
                </ul>

                <div class="clearfix"></div>
                  <br>
	            <div class="comeBack_up" *ngIf="apiResponse">
	                <div *ngIf="apiResponse.error; else loggedOut">
	                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </div>
	                <ng-template #loggedOut>
	                  <div class="alert alert-success" *ngIf="apiResponse.errorMessage"><strong>{{ apiResponse.errorMessage }}</strong></div>
	                </ng-template>
	            </div>


              </div>
              <!-- /.card-body -->
            </div>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">
  </aside> -->
    <!-- Control sidebar content goes here -->
  <!-- /.control-sidebar -->

  
   <app-adminfooter></app-adminfooter>
</div>
</body>